/************
MAIN MENU
************/

#mainMenu
{
	@media @min-md-media
	{
		height : @menuSizeVH ;	
		min-height: 55px ;
		position: fixed ;
		top:0px;
		z-index: 1000 ;
		white-space: nowrap;
	}
	background-color: @noir ;	
	width: 100%;

	nav {
		height: 100%;

		div
		{		
			font-size:  1.8rem;
			text-align: center;
			display: inline-block;
			
			height: 100%;
			width:100%;
			@media @min-md-media
			{
				width:20%;							
			}	
		}
	}
}
