#projet
{
	background-color: @noir;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: none; 
	min-height: 100%;

	#titreWrap
	{
		background-color: @jaune ;
	}

	#accroche
	{
		background-color: @jaune ;
	}

	#contenuProjet
	{
		position: relative;
	}
	
	#infos{

		.cachable {					
			@media @lg-media
			{
				margin : 0% 5%  ;
			}
			@media @md-media
			{
				margin : 0% 3%  ;
			}
			@media @sm-media
			{
				margin : 0% 1%  ;
			}
			@media @xs-media
			{
				text-align: center;
			}
		}

		a {
			margin-left: 3% ;
		}
	}

		#videos, #sliderWrap, #detail, .prevNext {
			position: relative;
			
			display: inline-block;
			width: 99% ;
			@media @lg-media {
				width : 70% ;
			}
			@media @md-media {
				width: 80% ;
			}			
		}



	#media {

		.go-previous, .go-next
		{
			width: 46px;
			height: 97px;
			position: absolute;
			bottom: -97px ;
			@media @min-md-media {
				bottom: inherit;
				top : 50% ;				
				margin-top: -48.5px ;
			}
		}

		.go-previous {
			background-image: url("../img/style/prevArrow.png");
			left : 20% ;			
			@media @min-md-media {
				left : -50px ;
			}
		}

		.go-next {
			background-image: url("../img/style/nextArrow.png");
			right : 20% ;
			@media @min-md-media {
				right : -50px; ;
			}
		}

	}

	#infos, #video
	{		
		margin-bottom: 2% ;
	}

	 #sliderWrap {
	 	margin-bottom: 103px ;
	 	@media @min-md-media {
	 		margin-bottom: 2% ;
	 	}
	}

	.prevNext
	{
		@media @xs-media {
			height: 102px ;
		}
		a {
			display: inline-block;
		}
	}

	#accueil
	{
		width : 64px;
		height: 64px ;
		position: relative;
		top : 15px ;
		background : url("../img/style/house.png") ;

		&:hover {
			background-image : url("../img/style/house_hover.png") ;
		}
	}


}