/************
CORPS
************/

* {
	box-sizing: border-box ;	
	font-family: @font-principal, sans-serif;
}

body 
{
	background-color: @noir;
	@media @min-md-media
	{
		padding-top: @menuSizeVH;
	}
	
}

html, body, .full-height
{
	height: 100%;
}

.bande
{
	padding: 2% ;
	box-sizing: border-box ;
	overflow: hidden ;
}


p {	
	text-indent: @font-size-p ;
	
	@media @lg-media
	{
		font-size: @font-size-p ;
	}
	@media @md-media
	{
		font-size: @font-size-p * 0.9 ;
	}
	@media @sm-media
	{
		font-size: @font-size-p * 0.8 ;
	}
	@media @xs-media
	{
		font-size: @font-size-p * 0.7 ;
	}
}

.center
{
	text-align: center;
}

/************
TITRES
************/

h1, h2, h3, h4, h5, h6
{
	font-family: @font-principal, sans-serif;	
	font-weight: normal;
}

h2
{
	font-size: @font-size-p * 1.4 ;
	@media @min-md-media {
		font-size: @font-size-p * 1.8 ;
	}
}

h3
{
	font-size: @font-size-p * 1.3 ;
	@media @min-md-media {
		font-size: @font-size-p * 1.6 ;
	}
}


/************
Liens/Bouttons
************/

a {
	text-decoration: none;

	&.blancJaune {
		.btnWithoutBorder(@blanc, @jaune) ;
	}

	&.btn-blancJaune {
		.btn(@blanc, @jaune) ;
	}
}

.btn-noirBlanc {
	.btn(@noir, @blanc) ;
}

.btn-blancNoir {
	.btn(@blanc, @noir) ;
}

.btn-jauneNoir {
	font-weight: bold;
	.btnBottomBorder(@jaune, @noir) ;
}

.btn-noirJaune {
	.btnBottomBorder(@noir, @jaune) ;
}

.btnBig
{
	margin: 1%;
	font-size: 8vw ;
	@media @min-md-media {
		font-size: 3vw ;
	}
}

/************
Origin transform
************/

.originLeft
{
	transform-origin: left center;
}

.originRight
{
	transform-origin: right center;
}

.originTop
{
	transform-origin: center top;
}


.originBottom
{
	transform-origin: center bottom;
}

/************
Color
************/

.blanc
{
	color : @blanc;
}

.noir
{
	color : @noir;
}

.jaune
{
	color : @jaune;
}
