/************
CORPS
************/

* {
	box-sizing: border-box ;
}

body 
{
	background-color: @noir;
	@media @min-md-media
	{
		padding-top: @menuSizeVH;
	}
	
}

html, body, .full-height
{
	height: 100%;
}

.bande
{
	padding: 2% ;
	box-sizing: border-box ;
	overflow: hidden ;
}


p {
	font-family: @font-principal, sans-serif;	
	text-indent: @font-size-p ;
	
	@media @lg-media
	{
		font-size: @font-size-p ;
	}
	@media @md-media
	{
		font-size: @font-size-p * 0.9 ;
	}
	@media @sm-media
	{
		font-size: @font-size-p * 0.8 ;
	}
	@media @xs-media
	{
		font-size: @font-size-p * 0.7 ;
	}
}

/************
TITRES
************/

h1, h2, h3, h4, h5, h6
{
	font-family: @font-principal, sans-serif;	
}

/************
Liens/Bouttons
************/

a {
	text-decoration: none;

	&.blancJaune {
		.btnWithoutBorder(@blanc, @jaune) ;
	}
}

.btn-noirBlanc {
	.btn(@noir, @blanc) ;
}

.btn-blancNoir {
	.btn(@blanc, @noir) ;
}

.btn-jauneNoir {
	font-weight: bold;
	.btnBottomBorder(@jaune, @noir) ;
}

.btn-noirJaune {
	.btnBottomBorder(@noir, @jaune) ;
}

/************
Origin transform
************/

.originLeft
{
	transform-origin: left center;
}

.originRight
{
	transform-origin: right center;
}

.originTop
{
	transform-origin: center top;
}


.originBottom
{
	transform-origin: center bottom;
}