/************
CORPS
************/

* {
	box-sizing: border-box ;	
	font-family: @font-principal, sans-serif;
}

body 
{
	background-color: @noir;	
}

html, body, .full-height
{
	min-height: 100%;
}

.bande
{
	padding: 2% ;
	box-sizing: border-box ;
	overflow: hidden ;
}


p {	
	text-indent: @font-size-p ;
	padding: 0px ;
	margin : 1% ;
	
	@media @lg-media
	{
		font-size: @font-size-p ;
	}
	@media @md-media
	{
		font-size: @font-size-p * 0.9 ;
	}
	@media @sm-media
	{
		font-size: @font-size-p * 0.8 ;
	}
	@media @xs-media
	{
		font-size: @font-size-p * 0.7 ;
	}
}

.center
{
	text-align: center;
}

/************
TITRES
************/

h1, h2, h3, h4, h5, h6
{
	font-family: @font-principal, sans-serif;	
	font-weight: normal;
}

h1 {	
	font-weight: bold;	
	@media @min-md-media
	{
		font-size: 6vw;
	}
	font-size: 12vw;

} 

h2
{
	font-size: @font-size-p * 1.2 ;
	@media @min-md-media {
		font-size: @font-size-p * 1.5 ;
	}
}

h3
{
	font-size: @font-size-p  ;
	@media @min-md-media {
		font-size: @font-size-p * 1.2 ;
	}
}


/************
Liens/Bouttons
************/

a {
	text-decoration: none;

	&.blancJaune {
		.btnWithoutBorder(@blanc, @jaune) ;
	}

	&.btn-blancJaune {
		.btn(@blanc, @jaune) ;
	}
}

.btn-noirBlanc {
	.btn(@noir, @blanc) ;
}

.btn-blancNoir {
	.btn(@blanc, @noir) ;
}

.btn-jauneNoir {
	font-weight: bold;
	.btnBottomBorder(@jaune, @noir) ;
}

.btn-jauneBlanc {
	font-weight: bold;
	.btnBottomBorder(@jaune, @blanc) ;
}

.btn-noirJaune {
	.btn(@noir, @jaune) ;
}

.btnBig
{
	margin: 1%;
	font-size: 8vw ;
	@media @min-md-media {
		font-size: 3vw ;
	}
}

/************
Origin transform
************/

.originLeft
{
	transform-origin: left center;
}

.originRight
{
	transform-origin: right center;
}

.originTop
{
	transform-origin: center top;
}


.originBottom
{
	transform-origin: center bottom;
}

/************
Color
************/

.blanc
{
	color : @blanc;
}

.noir
{
	color : @noir;
}

.jaune
{
	color : @jaune;
}

/************
LOADER
************/

#loader
{
	width : 48px;
	height: 48px;
	position: fixed;
	top:50%;
	left: 50%;
	margin-left : -24px ;
	margin-top: -24px;
	display: none;
}

/************
VIDEO RESPONSIVE
************/

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
}

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

/************
OTHER
************/

.noindent
{
	text-indent: 0px ;
}

.borderStyle
{
	width: 2px ;
	height: 100% ;
	position: absolute;
	background-color: @jaune ;
	left : -60px ;
}

img.responsive {
	width : auto ;
	max-width : 100% ;
	height: auto ;
}

.prevNext a {
	margin: 0px 3% ;
}